sudo apt-get update
sudo apt-get install python3

pip install django pandas scikit-learn tensorflow keras pillow drf-yasg numpy


sudo apt-get install libjpeg-dev zlib1g-dev libfreetype6-dev liblcms2-dev libopenjp2-7 libtiff5

pip install pillow


